# Compiled class file
*.class

# Log file
*.log

# Tmp file
*.tmp
*.swp

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

*.pyc

# c-tag files for VIM
tags

*.o
src/qq_mem/build/*
